{% extends "base.html" %}

{% block content %}
   <p>Hello! I'm Tapasi Bahinipaty, a passionate Electronics and Communication Engineering student with a strong interest in backend development, IoT, and AI-driven solutions. I enjoy building real-world applications and continuously learning new technologies to enhance my skills.</p>

    <h2>Education</h2>
    <ul>
        <li>B.Tech in Electronics and Communication Engineering,Nist University, Odisha</li>
        <li>Current Year: 3rd Year</li>
    </ul>
{% endblock content %}
